body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
.container{
    height: 100%;
    width: 100%;
    background: rgb(15,36,0);
    background: linear-gradient(90deg, rgba(15,36,0,1) 0%, rgba(73,121,9,1) 35%, rgba(255,127,0,1) 100%);
    display: inline-block;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;

}

.tabcontainer{
    margin: 1.5in;
    width: auto;
    height: 100%;
    justify-content: space-evenly;
    align-items: stretch;

}
.tabcontainer,.box1,.box2,.box3{
    position: inherit;
    justify-content: space-evenly;
    align-items: stretch;
}
.box1{
    margin-left: 40px;
    padding: 0 0 50px;
    width: 300px;
    height: 500px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: rgb(229,246,87);
    background: linear-gradient(90deg, rgba(229,246,87,1) 0%, rgba(0,255,50,1) 100%);
    box-shadow: 0 5px 20px rgba(0,0,0,0.7);
    transition: all .3s ease-in-out;
    border-radius: 12px;
}
.box1:hover{
    transform: scale(1.3);
    color: #528F28;
    z-index:2;
}
.box2{
    margin-left: 40px;
    padding: 0 0 50px;
    width: 300px;
    height: 500px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: rgb(229,246,87);
    background: linear-gradient(90deg, rgba(229,246,87,1) 0%, rgba(0,255,50,1) 100%);
    box-shadow: 0 5px 20px rgba(0,0,0,1);
    transition: all .3s ease-in-out;
    border-radius: 12px;
}
.box2:hover{
    transform: scale(1.3);
    color: #528F28;
    z-index:2;
}
.box3{
    margin-left: 40px;
    padding: 0 0 50px;
    width: 300px;
    height: 500px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: rgb(229,246,87);
    background: linear-gradient(90deg, rgba(229,246,87,1) 0%, rgba(0,255,50,1) 100%);
    box-shadow: 0 5px 20px rgba(0,0,0,0.7);
    transition: all .3s ease-in-out;
    border-radius: 12px;
}
.box3:hover{
    transform: scale(1.3);
    color: #528F28;
    z-index:2;
}
.price{
    position: inherit;
    border-top: 300px solid rgba(0,255,50,1);
    border-right: 300px solid transparent;
    height: 0;
    width: 0;
    border-radius: 0 13px 0 0;
}
.price h1{
    position: relative;
    top: -300px;
    left: 30px;
    color: #153204;
}
.price1{
    position: relative;
    top: -240px;
    padding: 30px;
    color: #153204;
    font-size: 25px;
    font-weight: 700;
}
.price2{
    position: relative;
    top: -280px;
    padding: 30px;
    color: #153204;
    font-size: 25px;
    font-weight: 700;
}
.price3{
    position: relative;
    top: -243px;
    padding: 30px;
    color: #153204;
    font-size: 25px;
    font-weight: 700;
}
ul li{
    top: -10px;
    list-style-type: square;
    color: #153204;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.content1{
    position: relative;
    color: #153204;
    font-size: 18px;
    font-weight: 700;
    line-height: 10px;
    padding: 12px;
    top: -20px;
    left: 30px;
    z-index: 1;
}

.content1 p{
    line-height: 20px;
    justify-content: center;
}

@media (max-width: 600px) {
    .container{
        position: absolute;
        display: grid;
        grid-template-rows: 450px;
        flex-direction: column;
        background-color: #153204;
        height: 100%;
    }
  }
  